@model EMS.Models.EmployeeInfoViewModel
@{
	ViewData["Title"] = "Edit";
}
<body class="bg-light">
	<div class="container py-3">
		<div class="card">
			<h2 class="bg-black text-white card-header py-4">Employee Form</h2>
			<div class="card-body">
				<form class="border-success" asp-controller="Employee" asp-action="">


					<div class="row mt-2">
						<div class="col-sm-6">
							<label for="FirstName" class="my-1">
								First Name
							</label>
							<input placeholder="Enter Your First Name" asp-for="FirstName" class="form-control" autocomplete="off" />
						</div>
						<div class="col-sm-6">
							<label for="LastName" class="my-1">
								Last Name
							</label>
							<input placeholder="Enter Your Last Name" asp-for="LastName" class="form-control" autocomplete="off" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="Gender" class="my-1">
								Gender
							</label>
							<select class="form-select" asp-for="Gender">
								<option value=0>Select Gender</option>
								<option value=1>Male</option>
								<option value=2>Female</option>
								<option value=-1>Others</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label for="Email" class="my-1">
								Email
							</label>
							<input placeholder="Enter Your E-mail" asp-for="Email" class="form-control" autocomplete="off" />
						</div>
						<div class="col-sm-4">
							<label for="PhoneNumber" class="my-1">
								PhoneNumber
							</label>
							<input class="form-control" placeholder="Enter Your Phone Number" asp-for="PhoneNumber" autocomplete="off" />
						</div>
					</div>
					<div class="">
						<label for="Address" class="my-1">
							Address
						</label>
						<input placeholder="Enter Your Address" asp-for="Address" class="form-control" autocomplete="off" />
					</div>
					<div class="">
						<label for="ProfilePath" class="my-1">
							Profile Image
						</label>
						<input type="file" asp-for="ProfilePath" class="form-control" />
					</div>
					<input type="submit" value="Save" class="btn btn-dark my-3" />

				</form>
			</div>
		</div>
	</div>
</body>