@{
    ViewData["Title"] = "Home";
}
<div class="container">
<div class="text-center">
    <h1 class="display-4">Employee Management System</h1>
    <p>Employee Management System allows an organization to register view employee details of the organizaition.</p>
</div>
</div>
