@model EMS.Models.SetUpDepartmentViewModel
@{
    ViewData["Title"] = "Department List";
    int count = 0;
}
<body class="bg-light">
    <div class="mt-5 card card-body">
        <h1 class="bg-black text-light card-header py-4">Department Data</h1>
        <table class="table card-body table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">SNo.</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.DeptList)
                {

                    <tr>
                        <th scope="row">@(count = count + 1)</th>
                        <td>@data.DeptName</td>
                        <td>
                            <a href="/Department/Details?deptName=@data.DeptName" class="text-primary">
                               View Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>